  /* Optional: Global button styles */
  .menu .MuiButton-root {
    border-radius: 5px; /* Rounded corners for all buttons */
  }

  .welcome-text {
    margin-right: 20px;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
  }