  /* Optional: Global button styles */
  .menu .MuiButton-root {
    border-radius: 5px; /* Rounded corners for all buttons */
  }

  .welcome-text {
    margin-right: 20px;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
    margin-top: 5px;
  }

  .agathiyar-moto {
    font-size: 14px;
  }


  /* General Styles */
.logo {
  height: 90px;
  width: 90px;
  margin-right: 15px;
  cursor: pointer;
}

.fixed-header {
  display: flex;
}

/* Menu styles for mobile and desktop */
.menu {
  display: none; /* Hide by default */
}

/* Show menu for larger screens (md and up) */
@media (min-width: 768px) {
  .menu {
    display: flex;
  }
}

/* Hide the 3-dot icon for larger screens */
@media (min-width: 768px) {
  .MuiIconButton-root {
    display: none;
  }
}

@media (max-width: 767px) {
  /* Apply the font-size: 14px for the .agathiyar-moto class */
  .agathiyar-moto {
    font-size: 10px;
  }

  .logo {
    height: 80px;
    width: 80px;
    margin-right: 15px;
  }
}
