.event-title {
    font-size: 20px !important;
    font-weight: 700;
    margin-bottom: 0;
}

.event-image {
    width: 165px;
    height: 165px;
}

.text-item {
    font-size: 14px;
    color: green;
}