.event-title {
  font-size: 20px !important;
  font-weight: 700;
  margin-bottom: 0;
}

.event-image {
  width: 165px;
  height: 165px;
}

.text-item {
  font-size: 14px;
  color: green;
}

.description-container {
  margin-top: 15px;
}

.description {
  position: relative;
  padding-left: 20px;
  line-height: 1;
  margin-bottom: 8px;
}

.description::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #333;
  font-weight: bold;
}
