@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../../fonts/sf-pro-display-regular.woff2');
    font-weight: 400;
    font-style: normal;
  }

.empty-content {
    height: 300px;
    text-align: center;
    margin-top: 20px;
}

.outer-containers {
    margin-top: 115px;
}

.booking-title {
    font-size: 30px;
    font-weight: bold;
    color: #38a169;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'SF Pro Display Regular', sans-serif;
}
.booking-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-top: 0;
    font-family: 'SF Pro Display Regular', sans-serif;
}
.info-section-booking {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    font-family: 'SF Pro Display Regular', sans-serif;
}