.empty-content {
    height: 300px;
    text-align: center;
    margin-top: 20px;
}

.outer-containers {
    margin-top: 115px;
}

.booking-title {
    font-size: 30px;
    font-weight: bold;
    color: #38a169;
    margin-top: 0;
    margin-bottom: 10px;
}
.booking-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-top: 0;
}