/* General Styles */
.video-list-container {
  width: 100%;
  margin: 0 auto;
  margin-left: 20px;
  margin-top: 100px;
}

.video-grid {
  display: grid;
  gap: 20px;
  margin-top: 120px;
  margin-bottom: 20px;
}

.video-card {
  cursor: pointer;
  background: #e0f7fa;
  border-radius: 10px;
  transition: transform 0.3s ease;
  overflow: hidden;
  padding: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.video-card:hover {
  transform: scale(1.05);
}

.video-preview {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.video-thumbnail,
.video-preview iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.video-title {
  font-size: 18px;
  margin: 10px 0 5px;
}

.video-description {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: underline;
}

.video-player {
  position: relative;
}

.close-player {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Responsive Layouts */

/* Mobile */
@media only screen and (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }

  .video-list-container {
    width: 100%;
    margin: 0 auto;
    margin-left: 0px;
    padding: 0 10px;
    margin-top: 100px;
  }

  .video-card {
    width: 100%;
    height: 300px;
  }

  .video-preview {
    height: 300px;
    width: 350px;
  }

  iframe,
  video {
    height: 200px;
  }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .video-card {
    width: 100%;
  }

  iframe,
  video {
    height: 300px;
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .video-card {
    width: 100%;
  }

  iframe,
  video {
    height: 500px;
  }
}
