.image-text-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding: 40px 20px; */
  background-color: #f5f4ef	;
  margin-top: 10px;
}

.image-column,
.text-column {
  flex: 1 1 50%;
  padding-right: 20px;
  box-sizing: border-box;
}

.section-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.section-title {
  font-size: 2rem;
  color: #4e9558;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: right;
}

.section-content {
  font-size: 1.3rem;
  line-height: 1.6;
  text-align: right;
}

@media (max-width: 768px) {
  .image-text-section {
    flex-direction: column;
    text-align: center;
  }

  .image-column,
  .text-column {
    flex: 1 1 100%;
  }

  .section-title {
    font-size: 28px;
  }

  .section-content {
    font-size: 16px;
  }
}
