.outer-container {
    background-color: #f0f8ff; /* Light blue background color */
    border-radius: 2px; /* Rounded corners */
    overflow: hidden; /* Ensure contents don't overflow */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 20px; /* Padding around the container */
  }
  
  .grid-container {
    display: flex; /* Use flexbox for horizontal layout */
    align-items: flex-start; /* Align items to the top */
  }
  
  .text-container {
    margin-top: 30px;
    flex: 1; /* Take equal space */
    padding: 20px; /* Padding inside text section */
  }
  
  .bullet-points {
    list-style-type: disc; /* Use disc style for bullets */
    padding-left: 20px; /* Indent bullets */
  }
  
  .border {
    width: 0.2px; /* Width of the border */
    background-color: #ddd; /* Border color */
    height: 100%; /* Full height */
  }
  
  .image-container {
    flex: 1; /* Take equal space */
    display: flex; /* Center image */
    justify-content: center; /* Center image horizontally */
    padding: 10px; /* Padding inside image section */
  }
  
  .photo-frame {
    border-radius: .5px; /* Rounded corners for frame */
    padding: 10px; /* Padding inside the frame */
  }
  
  .section-title {
    margin-bottom: 10px;
  }

  .image {
    background: #8080806b;
    max-width: 100%; /* Ensure responsive image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners for image */
  }