html,
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

*,
*:before,
*:after {
  box-sizing: inherit; /* Apply box-sizing globally */
}

/* Additional Components Styles */
h1 {
  margin-top: 40px;
  font-size: 24px;
  color: #333;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #4caf50;
}

h4, h5, h6 {
  color: #6c78b4;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .carousel-image {
    height: 200px; /* Adjust for smaller screens */
  }

  .single-image {
    width: 100%;
  }
}
